
@font-face {
    font-family: Cocomat;
    src: local("cocomat-ligth-trial-webfont"), url(../fonts/cocomat-light-trial-webfont.ttf);
}

html, body {
    scroll-behavior: smooth;
}

  


@tailwind base;
@tailwind components;
@tailwind utilities;

